.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}
.col {
    float: left;
    width: 50%
}
/* #008CBA */
.button {
    margin:2px;
    border: 2px solid #008CBA;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 16px;
    padding:8px 20px;
    border-radius: 7px;
    cursor:pointer;
    transition-duration: 0.5s;
}
.button:hover {
    color:white;
    background-color: #008CBA;
    border:none;
}
.button:disabled {
    opacity: 0.4;
}
