.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}
.col {
    float: left;
    width: 33%;
}
label {
    display:inline-block;
    width:90px;
    text-align: left;
}

input {
    margin-left: 10px;
}
input[type='checkbox']{
    height:15px;
    width: 15px;
}
input[type='checkbox']:hover {
    background-color: #ccc;
}
.select {
    padding: 4px 10px;
    border:none;
    border-radius: 7px;
    margin-left: 10px;
}

table {
    width:100%;    
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.submit {
    margin-top:10px;
    border: none;
    text-align: center;
    background-color: #008CBA;
    color:white;
    font-size: 12px;
    padding:6px 12px;
    border-radius: 7px;
    cursor:pointer;
    transition-duration: 0.5s;
}
.submit:hover {
    background-color: rgb(0, 110, 146);
}
.submit:disabled{
    cursor:not-allowed;
    opacity: 0.4;
}

.button {
    margin:2px;
    border: 2px solid #008CBA;
    text-align: center;
    background-color: white;
    color:black;
    font-size: 16px;
    padding:8px 20px;
    border-radius: 7px;
    cursor:pointer;
    transition-duration: 0.5s;
}
.button:hover:enabled {
    color:white;
    background-color: #008CBA;
    border:none;
}
.button:disabled {
    opacity: 0.4;
}
